{% extends 'base.html.twig' %}

{% block title %}usuarios Autorizados
{% endblock %}
{% block body %}
<div id="alertsApp">
{% for message in app.flashes('info') %}
      <div class="alert alert-success">
          <p>{{message}}</p>
      </div>
{% endfor %}
 {% for message in app.flashes('error') %}
      <div class="alert alert-danger">
          <p>{{message}}</p>
      </div>
{% endfor %}
</div>
	{% for alumno in alumnos %}
	  {% if app.user == alumno %}
		<form action="{{ path('editcomplete') }}" method="post">
	<div id="campForm">
          <label for="inputUsername">Nombre:</label>
          <input type="text" name="username" value="{{alumno.username}}"  id="inputUsername1" readonly="readonly" class="form-control" autocomplete="username" required>
          <div id="requiredCamp"><div id="requiredCampName"></div></div>
      </div>
      <div id="campForm">
        <label for="inputSurname">Apellidos:</label>
        <input type="text" name="surname" value="{{alumno.surname}}"  id="inputSurname" class="form-control" autocomplete="surname">
      </div>
 
      <div id="campForm">
          <label for="inputUsername">Edad:</label>
          <input type="text" name="age" value="{{alumno.age}}" id="inputAge1" class="form-control" autocomplete="age">
          <div id="requiredCamp"><div id="requiredCampAge"></div></div>
      </div> 

		     <div id="botones">
                 <button id="boton" class="btn btn-lg btn-primary" type="submit" onClick="valida();" style="margin-top:10px">Actualizar</button>
              </div> 
           
		</form>
	{% endif %}
   {% endfor %}
{% endblock %}
